<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>РефГо</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <h1>Здарова, бедолаги</h1>
    <a href="/refgo"><button>РефГо</button></a>
</body>

</html>
